body{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.conteiner{
    width: 70rem;
    height: 55rem;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(img/clima4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.conteiner-geral{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    background-color: rgba(119, 46, 143, 0);
    padding-top: 2rem;
}
.conteiner legend{
    font-size: 4rem;
    text-align: center;
    color: rgb(0, 172, 252);
    font-weight: bold;
    text-shadow: 4px 4px 6px #000;
}
.search{
    display: flex;
    justify-content: space-between;
}
.search label{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2rem;
    margin-right: .2rem;
    padding: .5rem 1rem;
}
.search label input{
    font-size: 1.7rem;
    border: none;
    background-color: transparent;
    color: rgb(199, 199, 199);
    outline: none;
    border-bottom: solid 3px #000;
    text-align: center;
    font-weight: 600;
}
.search label input::placeholder{
    color: rgb(221, 221, 221);
}
.search label img{
    width: 2rem;
}
.search button{
    border-radius: 2rem;
    font-size: 1.3rem;
    padding: 0rem 2rem;
    margin-left: 2rem;
    border: none;
    background-color: tomato;
    color: rgb(255, 255, 255);
    font-weight: 500;
    cursor: pointer;
}
.conteiner-clima{
    width: inherit;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.conteiner-clima .side-left{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
  box-shadow: 0px -10px 20px #000;
}
.conteiner-clima .side-left h2{
    font-size: 7rem;
    margin: 0px;
    color: rgba(252, 0, 0, 0.72);
    text-shadow: 3px 3px 6px #000;
}
.conteiner-clima .side-left, .side-rigth{
    flex: 1;
}
.side-left h3{
    font-size: 2.2rem;
    margin: 0px;
}
.side-left .data{
    font-size: 1.3rem;
    color: rgb(73, 73, 73);
}
.side-left .max-min{
    display: flex;
}
.side-left .max-min span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    font-size: 2rem;
    font-weight: 500;
    color: rgb(100, 95, 21);
}
.side-left .max-min span p{
    margin-left: 1rem;
    color: rgb(9, 14, 163);
    font-weight: 900;
}
.side-rigth{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.side-rigth img{
    width: 25rem;
}
.side-rigth p{
    font-size: 2rem;
    color: rgb(185, 34, 34);
    font-weight: 900;
}


.dados{
    width: inherit;
    border-radius: 15px;
    margin-top: 3rem;
    box-shadow: 0px -10px 25px #000;
}
.dados ul{
    display: flex;
    padding: 0rem;
}
.dados ul li{
    list-style: none;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.dados ul li img{
    width: 2rem;
    margin-right: 1rem;
}
.dados ul li div{
    height: 6rem;
}
.dados ul li div p{
    font-weight: bold;
    margin: 0px;
    color: rgb(190, 27, 240);
}
.dados ul li div span{
    font-size: 1.5rem;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgb(8, 175, 167);
}